/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  text-align: center;
 }

 ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
 }

 .tile {
  margin: 15px;
  padding: 15px;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
 }

 .top-bar {
  
  width: 75%;
  margin-left: auto;
  margin-right: auto;
 }

 .title-area {
  background-color: purple;
}


 .cafe-search {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
 }

.enter_login_details {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.new_venue_input {
  width: 30%;
  margin-left: auto;
  margin-right: auto;

}

.new_image_input {
  width: 30%;
  margin-left: auto;
  margin-right: auto;

}

.new_review_input {
  width: 30%;
  margin-left: auto;
  margin-right: auto;

}

.cafe_info {
  text-align: left;
}


.background_image{
  width: 100%;
  height: 350px;
  background-image:url(shisha_smoke_background.jpg);
  background-position: right;
  background-size: 70%;
  background-repeat: no-repeat;
  
}

.small_links {
  text-align: left;
}







